h1   {
    color: rgb(255, 255, 255);
    font-family: Verdana, "Lucida Sans Unicode", sans-serif;
    text-align: center;
}

p   {
    color: rgb(255, 255, 255);
    font-family: Verdana, "Lucida Sans Unicode", sans-serif;
    text-align: center;
}

body {
    background-image: url('DSC02399~2 (1).jpg');
}
