body {
    background-image: url("DSC02399~2 (1).jpg");
    background-color: #cccccc; 
    height: 500px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

h1   {
    color: rgb(255, 255, 255);
    font-family: Verdana, "Lucida Sans Unicode", sans-serif;
    text-align: center;
}

p   {
    color: rgb(255, 255, 255);
    font-family: Verdana, "Lucida Sans Unicode", sans-serif;
    text-align: center;
}
