h1   {
    color: rgb(255, 255, 255);
    font-family: Verdana, "Lucida Sans Unicode", sans-serif;
}

div {
  display: flex; 
  flex-align: center;
  color: rgb(255, 255, 255);
  font-family: Verdana, "Lucida Sans Unicode", sans-serif;
  width: 40%;
}

body {
    background-image: url('DSC02399~2 (1).jpg');
    height: 500px; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #000000;     
    text-align: center;
}
